.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid grey;
}
.header h1 {
  font-weight: bold;
  margin-left: 20px;
  cursor: pointer;
  font-size: 24px;
}

.header button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  margin-right: 20px;
  padding: 10px;
}

.header button:hover {
  border: 1px solid black;
  border-radius: 4px;
}
